<h1>{{title}}</h1>

<form action="/api/session/register" method="post">
    <label for='first_name'>First name:</label>
    <input type='text' id='first_name' name='first_name' required />
        <br />
    <label for='last_name'>Last name:</label>
    <input type='text' id='last_name' name='last_name' required />
        <br />
    <label for='email'>Email:</label>
    <input type='text' id='email' name='email' required />
        <br />
    <label for='password'>Password:</label>
    <input type='password' id='password' name='password' required />
        <br />
    <label for='age'>Age:</label>
    <input type='text' id='age'name='age' pattern='^(?:[1-9]|[1-9][0-9])$' required/>
        <br />
    <button type='Submit'>Submit</button>
</form>
        <br />
<a href='/login'>Already have an account?</a>