<h1>restaurar contraseña</h1>       

<form action="/api/session/restore-password" method="post">
    <label for="">Email: </label> <input type="email" name ="email"> <br><br>
    <label for="">Contraseña: </label> <input type="password" name ="password"> <br><br>
    <button type="submit">restaurar password</button>
</form>